/target/
.settings/

# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

#npm
node_modules/

#temp_files
*~
*.DS_Store

# Intellij Core
*.idea
**/module.js
/npm-debug.log

#Viewer Resources.
#Distribution is not bundled in the source code.
src/main/resources/viewer/*
